	<html>
		<head>
			<meta charset="utf-8">
			<title>op.gg</title>			
		</head>
		<body>
			<h1><%= @id %>님의 슬픈 전적</h1>
			<p><%= @win %>승 <%= @loss %>패</p>
			<p>롤접고 발닦고 자자 암풍</p>
			<img src ="http://cfile4.uf.tistory.com/image/184A34434EA8C24D2746A9">
		</body>
	</html>
