<html>
  <head>
    <meta charset="utf-8">
    <title>Show list</title>
  </head>
  <body>
    <h1>글 목록</h1>
    <% @list.each do |blog| %>
    <p><%= blog %></p>
    <% end %>
  </body>
  </head>
</html>
