<html>
	<head>
		<meta charset = "utf-8">
		<title>Bing Search</title>
	</head>
	<body>
		<h1>Bing Search</h1>

		<form action = "https://www.bing.com">
		  		Bing search: <input type="text" name="q"><br>
  <input type="submit" value="Search">
		</form>


	</body>

</html>